//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
//XL
.footer {
  height: 711px; 
  
  margin-top: 201px;

  background-image: url('../assets/images/bestassictane-app-bg.fw.png');
  background-size: cover;
  background-repeat: no-repeat;
  .first-row {
    height: 445px;

    border-bottom: 1px solid $offwhite;
    .title {
      margin-top: 149px;
      margin-left: 87px;
  
      font-family: $font-opensansbold;
      font-size: 40px;
      color: $offwhite;
    }
  
    .description {
      margin-top: 14px;
      margin-left: 88px;
  
      font-family: "Open Sans";
      font-size: 16px;
      color: #fffef9;
  
      letter-spacing: 0.3px;
    }
  
    .app-store-img {
      margin-top: 22px;
      margin-left: 88px;
    }
  
    .google-play-img {
      margin-top: 22px;
      margin-left: 14px;
    }
  
    .mobile-app {
      position: absolute;
      top: -120px;
      right: 180px;
    }
  }

  .second-row {
    height: 287px;
    .column:first-child {
      border-right: 1px solid $offwhite;

      .app-icon {
        margin-top: 47px;
        margin-left: 84px;
      }

      .subtitle {
        margin-top: 33px;
        margin-left: 84px;

        font-family: $font-opensans;
        font-size: 15px;
        color: $offwhite;
        text-align: left;

        line-height: 1.8;
      }

      .app-button {
        color: $offwhite;
        text-decoration: none;

        :hover {
          color: $ink;
        }
      }

      .app-link {
        width: 122px;

        padding-bottom: 5px;

        margin-top: 28px;
        margin-left: 83px;
        
        font-family: "Open Sans";
        font-size: 16.5px;
        
        text-decoration: none;
        letter-spacing: -.5px;

        border-bottom: 1px solid;
      }
    }

    .column:nth-child(2) {
      border-right: 1px solid $offwhite;
      .app-icon {
        margin-top: 42px;
        margin-left: 56px;
      }
      
      .subtitle {
        margin-top: 15px;
        margin-left: 56px;
        margin-right: 49px;

        font-family: $font-opensans;
        font-size: 15px;
        color: $offwhite;
        text-align: left;

        line-height: 1.8;
      }

      .app-button {
        color: $offwhite;
        text-decoration: none;

        :hover {
          color: $ink;
        }
      }
      
      .app-link {
        width: 161px;

        padding-bottom: 6px;

        margin-top: 27px;
        margin-left: 55px;

        font-family: "Open Sans";
        font-size: 16.5px;
        color: #fffef9;
        
        text-align: center;
        text-decoration: none;

        letter-spacing: -.5px;

        border-bottom: 1px solid;
      }
    }

    .column:nth-child(3) {
      .app-icon {
        margin-top: 41px;
        margin-left: 63px;
      }

      .subtitle {
        margin-top: 36px;
        margin-left: 57px;
        margin-right: 49px;

        font-family: $font-opensansbold;
        font-size: 35px;
        color: $offwhite;
      }

      .app-button {
        color: $offwhite;
        text-decoration: none;

        :hover {
          color: $ink;
        }
      }

      .app-link {
        width: 81px;

        padding-bottom: 6px;

        margin-top: 26px;
        margin-left: 62px;
        
        font-family: "Open Sans";
        font-size: 16.5px;
        color: #fffef9;
        
        text-align: left;
        text-decoration: none;

        letter-spacing: -.5px;

        border-bottom: 1px solid;
      }
    }
  }

  .third-row {
    padding-bottom: 28px;
    .footer-list {
      margin-top: 24px;
      margin-left: 35px;
  
      list-style-type: none;
    }
  
    .footer-link {
      padding-right: 1px;

      margin-left: 12px;
      margin-right: 28px;
  
      font-family: $font-opensans;
      font-size: 14px;
      font-weight: bold;
      color: $ink;
      text-decoration: none;

      cursor: default;

      :hover {
        color: $seablue;
      }
    }

    .Privacy {
      margin-left: 40px;
    }

    .koein {
      margin-left: 42px;
    }

    .icons {
      padding-left: 413px;
    }
  
    .footer-icons {
      margin-top: 12px;
      margin-left: 10px;
    }

    .footer-link-icons {
      text-decoration: none;
    }
  }
}

//1199-992
@include respond-to (lg) {
  .footer {   
    .first-row {
      .mobile-app {
        top: -121px;
        right: 7px;
      }

      .title {
        margin-left: 15px;
      }

      .description {
        margin-left: 15px;
        margin-right: 85px;
      }

      .app-store-img {
        margin-left: 15px;
      }
    }

    .second-row {
      .column:first-child {
        .app-icon {
          margin-left: 25px;
        }
  
        .subtitle {
          margin-left: 0;
        }
  
        .app-link {
          margin-left: 0;
        }
      }
  
      .column:nth-child(2) {
        .app-icon {
          margin-top: 47px;
          margin-left: 26px;
        }

        .subtitle {
          margin-left: 0px;
          margin-right: 0px;
        }
        
        .app-link {
          margin-top: 22px;
          margin-left: 0;
        }
      }
  
      .column:nth-child(3) {
        .app-icon {
          margin-top: 47px;
          margin-left: 25px;
        }

        .subtitle {
          margin-top: 40px;
          margin-left: 0;
        }
  
        .app-link {
          margin-top: 40px;
          margin-left: 0;
        }
      }
    }
  
    .third-row {
      .footer-list {
        margin-left: 0;
      }

      .icons {
        padding-left: 127px;
        padding-bottom: 20px;
      }
    }
  }
}

//991-786
@include respond-to (md) {
  .footer {   
    height: 547px;

    margin-top: 2px;
    .first-row {
      height: 235px;
      .mobile-app {
        top: -95px;
        right: 53px;

        width: 288px;
      }

      .title {
        margin-top: 36px;
        margin-left: 6px;

        font-size: 25px;
      }

      .description {
        margin-top: -4px;
        margin-left: 7px;
        margin-right: 135px;

        font-size: 14px;

        line-height: 1.7;
      }

      .app-store-img {
        margin-top: 4px;
        margin-left: 8px;

        width: 134px;
      }

      .google-play-img {
        margin-top: 4px;
        margin-left: 12px;

        width: 134px;
      }
    }

    .second-row {
      height: 0;
      .column:first-child {
        border-right: none;

        .app-icon {
          width: 42px;

          margin-top: 0;
          margin-left: 9px;
          margin-bottom: -50px;
        }
  
        .subtitle {
          width: 231px;
          margin-top: 43px;
          margin-left: 12px;

          font-size: 14.5px;

          line-height: 1.7;
        }
  
        .app-link {
          width: 101px;

          padding-bottom: 3px;

          margin-top: 14px;
          margin-left: 9px;
          margin-right: 99px;
          
          font-size: 13.5px;
        }
      }
  
      .column:nth-child(2) {
        border-right: none;
        .app-icon {
          width: 50px;

          margin-top: 8px;
          margin-left: 29px;
        }
        .subtitle {
          margin-top: 16px;
          margin-left: 26px;
          margin-right: -22px;
          
          font-size: 14.5px;
          line-height: 1.7;
        }
        
        .app-link {
          width: 139px;

          padding-bottom: 4px;
          margin-top: -4px;
          margin-left: 23px;
          margin-right: 55px;

          font-size: 13.5px;
        }
      }
  
      .column:nth-child(3) {
        .app-icon {
          width: 32px;

          margin-top: 23px;
          margin-left: 47px;
        }
        .subtitle {
          margin-top: 40px;
          margin-left: 43px;
          margin-right: 6px;

          font-size: 25px;
        }
  
        .app-link {
          width: 67px;

          padding-bottom: 3px;
          margin-top: 53px;
          margin-right: 69px;
          
          font-size: 13.5px;
        }
      }
    }
  
    .third-row {
      .Privacy {
        display: none;
      }

      .careers {
        display: none;
      }

      .koein {
        position: relative;
        top: 231px;
        left: -120px;

        font-family: $font-opensans;
        font-size: 12px;
        color: $offwhite;
      }

      .icons {
        display: none;
      }
    }
  }
}

//767-576
@include respond-to (sm) {
  .footer {   
    height: 874px;

    margin-top: 0;
    .first-row {
      height: 131px;
      border-bottom: none;
      .mobile-app {
        display: none;
      }

      .title {
        margin-top: 34px;
        margin-left: 0;

        font-size: 25px;
        text-align: center;
      }

      .description {
        margin-top: 0;
        margin-left: 61px;
        margin-right: 61px;

        font-size: 14px;
        text-align: center;

        line-height: 1.6;
      }

      .download-apps {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .app-store-img {
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;

        width: 134px;
      }

      .google-play-img {
        margin-top: 0;
        margin-left: 0;

        width: 134px;
      }
    }

    .second-row {
      height: 355px;
      .column:first-child {
        border-right: none;

        .app-icon {
          width: 42px;

          margin-top: 51px;
          margin-left: 122px;
          margin-bottom: -132px;
        }
  
        .subtitle {
          margin-top: 111px;
          margin-left: 128px;
          margin-right: 107px;

          font-size: 14px;
        }
  
        .app-link {
          width: 101px;

          margin-top: 20px;
          margin-left: 126px;
          margin-right: 0;
          
          font-size: 13.5px;
          text-align: left;
        }
      }
  
      .column:nth-child(2) {
        border-right: none;
        .app-icon {
          width: 50px;

          margin-top: 22px;
          margin-left: 129px;
        }

        .subtitle {
          margin-top: 11px;
          margin-left: 128px;
          margin-right: 133px;
          
          font-size: 14px;
        }
        
        .app-link {
          width: 139px;

          margin-top: 0px;
          margin-left: 124px;
          margin-right: 0;

          font-size: 13.5px;
          text-align: left;
        }
      }
  
      .column:nth-child(3) {
        .app-icon {
          width: 32px;

          margin-top: 30px;
          margin-left: 125px;
        }

        .subtitle {
          margin-top: 36px;
          margin-left: 116px;
          margin-right: 6px;

          font-size: 25px;
        }
  
        .app-link {
          width: 67px;

          margin-top: 18px;
          margin-left: 124px;
          margin-right: 0;
          
          font-size: 13.5px;
          text-align: left;
        }
      }
    }
  
    .third-row {
      .Privacy {
        display: none;
      }

      .careers {
        display: none;
      }

      .koein {
        position: relative;
        top: 320px;
        left: -5px;

        font-family: $font-opensans;
        font-size: 12px;
        color: $offwhite;
      }

      .icons {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 320px) {
  .footer {   
    height: 100%;

    margin-top: 0;
    .first-row {
      height: 131px;
      border-bottom: none;
      .mobile-app {
        display: none;
      }

      .title {
        margin-top: 34px;
        margin-left: 0;
        margin-bottom: 3px;

        font-size: 25px;
        text-align: left;
      }

      .description {
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 22px;
        margin-right: 0;

        font-size: 14px;
        text-align: left;

        line-height: 1.7;
      }

      .app-store-img {
        margin-top: 0;
        margin-left: 0;
        margin-right: 15px;

        width: 134px;
      }

      .google-play-img {
        margin-top: 0;
        margin-left: 0;

        width: 134px;
      }
    }

    .second-row {
      height: 355px;
      .column:first-child {
        border-right: none;

        .app-icon {
          width: 42px;

          margin-top: 120px;
          margin-left: 0;
          margin-bottom: -132px;
        }
  
        .subtitle {
          margin-top: 144px;
          margin-left: 5px;
          margin-bottom: 13px;
          margin-right: 14px;

          font-size: 14px;
          letter-spacing: .3px;
        }
  
        .app-link {
          width: 101px;

          padding-bottom: 2px;
          
          margin-top: 12px;
          margin-left: 0;
          margin-right: 0;
          
          font-size: 14px;
          text-align: left;
        }
      }
  
      .column:nth-child(2) {
        border-right: none;
        .app-icon {
          width: 50px;

          margin-top: 22px;
          margin-left: 0;
        }

        .subtitle {
          margin-top: 0;
          margin-left: 2px;
          margin-bottom: 13px;
          margin-right: 14px;

          font-size: 14px;
          letter-spacing: .3px;
        }
        
        .app-link {
          width: 135px;

          padding-bottom: 2px;
          margin-top: 0px;
          margin-left: 0;
          margin-right: 0;
          
          font-size: 14px;
          text-align: left;
        }
      }
  
      .column:nth-child(3) {
        .app-icon {
          width: 32px;

          margin-top: 26px;
          margin-left: 3px;
        }

        .subtitle {
          margin-top: 33px;
          margin-left: 0;
          margin-bottom: 0;
          margin-right: 14px;

          font-size: 24px;
          letter-spacing: .3px;
        }
  
        .app-link {
          width: 65px;

          padding-bottom: 2px;
          margin-top: 14px;
          margin-left: 0;
          margin-right: 0;
          
          font-size: 14px;
          text-align: left;
        }
      }
    }
  
    .third-row {
      .footer-list {
        margin-top: 336px;
        margin-left: -19px;

        text-align: left;
      }
      .Privacy {
        display: none;
      }

      .careers {
        display: none;
      }

      .koein {
        position: absolute;
        left: -30px;

        font-family: $font-opensans;
        color: $offwhite;
      }

      .icons {
        display: none;
      }
    }
  }
}

@media (max-width: 575px) and (min-width: 400px) {
  .footer {
    height: 100%;
    .second-row {
      .column:first-child {
        .app-link {
          width: 101px;
        }
      }

      .column:nth-child(2) {
        .app-link {
          width: 139px;
        }
      }

      .column:nth-child(3) {
        .app-link {
          width: 67px;
        }
      }
    }

    .third-row {
      .Privacy {
        display: none;
      }

      .koein {
        position: relative;
        top: 0;
        left: -75px;

        font-family: $font-opensans;
        font-size: 12px;
        color: $offwhite;
      }
    }
  }
}

@media (max-width: 399px) and (min-width: 328px) {
  .footer {
    height: 100%;
    .second-row {
      .column:first-child {
        .app-link {
          width: 101px;
        }
      }

      .column:nth-child(2) {
        .app-link {
          width: 139px;
        }
      }

      .column:nth-child(3) {
        .app-link {
          width: 67px;
        }
      }
    }

    .third-row {
      .Privacy {
        display: none;
      }

      .koein {
        position: relative;
        top: 0;
        left: -75px;

        font-family: $font-opensans;
        font-size: 12px;
        color: $offwhite;
      }
    }
  }
}


