//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
//XL//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
//XL
.header {   
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  z-index: 2;

  transition: all 1s;
  &.scrolled {
    background-color: $offwhite;
    }

  border-bottom: 1px solid $gray;
  .header-logo { 
    padding-bottom: 30px;

    margin-top: 14px;
    margin-left: 68px;
  }

  .navbar-buttons {
    list-style-type: none;
  }
  
  .nav-link {
    margin-top: 3px;
    margin-left: 22px;
    margin-right: 4px;

    font-family: $font-opensans;
    font-size: 14.2px;
    font-weight: bold;
    color: $ink;

    letter-spacing: .6px;
  }

  .nav-link:hover {
    color: $greeny;
  }

  .telephone {
    padding: 15px;
    margin-top: 4px;
    margin-left: 27px;
    margin-right: 2px;

    width: 170px;

    font-size: 14px;
    color: $offwhite;
    background-color: $golden;
    
    text-align: center;

    border-radius: 25px;

    .tel-logo {
      width: 16px;
    }
  }

  .language {
    padding: 13px;
    margin-top: 4px;
    margin-left: 0;
    margin-right: 72px;
    
    width: 79px;

    font-family: $font-opensanssemibold;
    font-size: 14px;
    color: $offwhite;
    background-color: $seablue;
    
    text-align: center;

    border-radius: 25px;

    outline: 0;
  }
}

//1199-992
@include respond-to (lg) {
  .header {   
    .header-logo {
      width: 215px;

      margin-left: 0;
    }
    
    .nav-link {
      margin-left: 0;

      font-size: 12px;
    }
  
    .language {
      width: 62px;
      
      padding: 12px;

      margin-right: 0;
    }

    .telephone {
      width: 136px;
      
      padding: 12px;
    }
  }
}

//991-768
@include respond-to (md) {
  .header {   
    .header-logo {
      width: 147px;

      margin-top: 4px;
      margin-left: 0;
    }

    .navbar-nav {
      background-color: $gray;
    }
    
    .navbar-toggler {
      position: fixed;
      top: 20px;
      right: 31px;
    }

    .navbar-collapse {
      position: absolute;
      top: 41px;
      right: 0;
      left: 0;
      bottom: 0;

      width: 770px;

      padding: 25px;
      font-size: 24px;
    }
    
    .nav-link {
      padding-top: 10px;
    }
    
    .flex-row {
      position: fixed;
      top: 17px;
      right: 80px;

      background: none;
    }

    .telephone {
      padding: 13px;

      width: 150px;

      margin-top: 0;
      margin-left:0;

      font-size: 11px;
    }
  
    .language {
      padding: 13px;

      width: 70px;

      margin-top: 0;
      margin-left:0;
      margin-right: 7px;

      font-size: 11px;
    }
  }
}

//767-576
@include respond-to (sm) {
  .header {   
    .header-logo {
      width: 147px;

      margin-top: 4px;
      margin-left: 0;
    }
    
    .nav-link {
      padding-top: 10px;
    }
    
    .flex-row {
      display: none;
    }

    .telephone {
      padding: 13px;

      width: 150px;

      margin-top: 0;
      margin-left:0;

      font-size: 11px;
    }
  
    .language {
      padding: 14px;

      width: 70px;

      margin-top: 0;
      margin-left:0;
      margin-right: 7px;

      font-size: 11px;
    }
  }
}

//320
@include respond-to (xs) {
  .header {   
    .header-logo {
      width: 147px;

      margin-top: 7px;
      margin-left: -18px;
    }
    
    .nav-link {
      padding-top: 10px;
    }
    
    .flex-row {
      display: none;
    }

    .telephone {
      padding: 13px;

      width: 150px;

      margin-top: 0;
      margin-left:0;

      font-size: 11px;
    }
  
    .language {
      padding: 14px;

      width: 70px;

      margin-top: 0;
      margin-left:0;
      margin-right: 7px;

      font-size: 11px;
    }
  }
}