//XL
.home {
  .introduction-about {
    padding-bottom: 507px;
    margin-top: 138px;

    background-image: url('../assets/images/about-bg-img.jpg');
    background-position: center left 7px;
    background-size: cover;

    .navs-wrapper {
      position: absolute;
      left: 75px;
      right: 0;
      top: 654px;
    }

    .arrow-right-parent {
      position: relative;
    }

    .arrow-right {
      padding: 14px 32px;
      
      background: $seablue;

      :after {
        content: "";
        position: absolute;
        top: 0;
        left: unset;
        right: -23px;

        width: 0;
        height: 0;

        border-top: 26.5px solid transparent;
        border-bottom: 26.5px solid transparent;
        border-left: 24px solid $seablue;

        z-index: 99;
      }
    }

    .title {
      padding-left: 0;
      margin-left: 0;

      font-family: $font-opensansbold;
      color: $white;

      letter-spacing: .6px;
    }

    .active {
      color: $ink;
      background: $white;
    }
    
    .nav-link {
      font-size: 18.1px;
    }

    .swiper-slide:first-child {
      width: 187px;

      text-align: center;

      .nav-link {
        height: 53px;
        
        padding-top: 14px;
        padding-left: 13px;
      
        font-family: $font-opensans;
        color: $ink;
        background-color: $white;
      }
    }

    .swiper-slide:nth-child(2) {
      width: 296px;

      text-align: center;

      .nav-link {
        height: 53px;
        
        padding-left: 13px;
        padding-top: 14px;
        
        font-family: $font-opensans;
        color: $white;
        background-color: $ink;
        
        opacity: .8;
      }
    }

    .swiper-slide:last-child {
      width: 221px;

      text-align: center;

      .nav-link {
        height: 53px;

        padding-left: 13px;
        padding-top: 14px;
        
        font-family: $font-opensans;
        background-color: $ink;
        color: $white;
        
        opacity: 0.8;
      }
    }

    .next {
      position: absolute;
      top: 5px;
      right: 0px;
      width: 24px;
      z-index: 2;
      font-size: 22px;
      color: #333;
      cursor: pointer;
      display: none;
      background: #fff;
      text-align: center;
    }

    .prev {
      position: absolute;
      top: 5px;
      left: 0px;
      width: 24px;
      z-index: 2;
      font-size: 22px;
      color: #333;
      cursor: pointer;
      display: none;
      background: #fff;
      text-align: center;
    }

    .breadcrumb-wrapper {
      position: relative;
      top: 569px;

      border-bottom: 1px solid $gray;
    }

    .breadcrumb {
      display: flex;
      justify-content: center;
      align-items: center;

      height: 60px;
      
      margin-bottom: 1px;

      background: none;
      .breadcrumb-item:nth-child(2)::before {
        content: "";
      }

      .breadcrumb-item:nth-child(3)::before {
        content: "";
      }
    }

    .breadcrumb-item:first-child {
      padding-left: 40px;

      font-family: $font-opensanssemibold;
      font-size: 13px;
    }

    .breadcrumb-item:nth-child(2) {
      padding-left: 0;

      font-family: $font-opensanssemibold;
      font-size: 13px;
    }

    .breadcrumb-item:last-child {
      padding-left: 0;
      padding-right: 23px;

      font-family: $font-opensanssemibold;
      font-size: 13px;
    }

    .disabled {
      pointer-events: none;
    }

    .item {
      margin-left: 0;
      margin-right: 0;

      color: $ashgray;
      text-decoration: none;
    }

    .active {
      margin-left: 0;
      margin-right: 0;

      color: $seablue;
    }

    .fa-angle-right {
      padding-left: 18px;
      
      color: $whitegray;
    }
  }

  .about-content {
    margin-top: 128px;
    .about-why-us:first-child {
      background-image: url('../assets/images/about-img.png');
      background-repeat: no-repeat;
      background-position: left -173px center;
      .title {
        padding-left: 182px;
        margin-top: 103px;

        font-family: $font-opensansbold;
        font-size: 40px;
        text-align: center;
      }

      .description {
        padding-top: 4px;
        padding-left: 434px;
        padding-bottom: 0;
        margin-top: 13px;
        
        font-size: 17px;
        
        line-height: 1.5;
      }

      .rounded-circle {
        width: 417px;
        height: 416px;

        margin-top: 0;
        margin-left: 87px;

        border-right: 8px solid $tangerine;
      }
    }

    .about-why-us:nth-child(2) {
      .title {
        padding-left: 8px;
        margin-top: 124px;

        font-family: $font-opensansbold;
        font-size: 40px;
        text-align: left;
      }

      .subtitle {
        padding-top: 8px;
        padding-left: 8px;

        margin-bottom: 2px;

        font-family: $font-opensanssemibold;
        font-size: 16.5px;
      }

      .description {
        padding-left: 7px;
        padding-bottom: 23px;
        margin-top: 3px;
        margin-right: 414px;
        margin-bottom: 0;
        
        font-size: 17px;
        
        line-height: 1.5;
      }

      .rounded-circle {
        width: 420px;
        height: 416px;

        margin-top: 255px;
        margin-left: 433px;

        border-right: 13px solid $tangerine;
      }
    }

    .about-why-us:nth-child(3) {
      background-image: url('../assets/images/about-img.png');
      background-repeat: no-repeat;
      background-position: right -173px center;
      .title {
        padding-left: 155px;
        margin-top: 131px;

        font-family: $font-opensansbold;
        font-size: 40px;
        text-align: center;
      }

      .description {
        padding-left: 420px;
        padding-bottom: 13px;
        margin-top: 16px;
        
        font-size: 17px;
        
        line-height: 1.5;
      }

      .rounded-circle {
        width: 412px;
        height: 412px;

        margin-top: 124px; 
        margin-left: 91px;  

        border-right: 8px solid $tangerine;
      }
    }

    .about-why-us:last-child {
      .title {
        padding-left: 8px;
        margin-top: 268px;

        font-family: $font-opensansbold;
        font-size: 40px;
        text-align: left;
      }


      .description {
        padding-left: 7px;
        padding-bottom: 23px;
        margin-top: 15px;
        margin-right: 350px;
        margin-bottom: 0;
        
        font-size: 17px;
        
        line-height: 1.5;
      }

      .rounded-circle {
        width: 420px;
        height: 416px;

        margin-top: 123px;
        margin-left: 431px;

        border-right: 8px solid $tangerine;
      }
    }
  }
}

//992-1199
@include respond-to (lg) {
  .home {
    .introduction-about {
      padding-bottom: 515px;
      margin-top: 138px;
  
      background-image: url('../assets/images/about-bg-img.jpg');
      background-position: center;
      background-size: cover;

      .navs-wrapper {
        top: 662px;
        left: 0;
      }
      
      .title {
        font-size: 15px;
      }
  
      .active {
        color: $ink;
        background: $white;
      }
      
      .nav-link {
        font-size: 18.1px;
      }
  
      .swiper-slide:first-child {
        width: 134px;
  
        .nav-link {
          padding-top: 17px;
          padding-left: 14px;

          font-size: 15px;
        }
      }
  
      .swiper-slide:nth-child(2) {
        width: 214px;
  
        .nav-link {
          padding-left: 23px;
          padding-top: 17px;
          
          font-size: 15px;
        }
      }
  
      .swiper-slide:last-child {
        width: 173px;
  
        .nav-link {
          padding-left: 0;
          padding-top: 17px;
          
          font-size: 15px;
        }
      }

      .breadcrumb-item:first-child {
        padding-top: 10px;

        font-size: 12px;
      }
  
      .breadcrumb-item:nth-child(2) {
        padding-top: 10px;

        font-size: 12px;
      }
  
      .breadcrumb-item:last-child {
        padding-top: 10px;

        font-size: 12px;
      }
    }
  
    .about-content {
      margin-top: 128px;
      .about-why-us:first-child {
        .title {
          padding-left: 30px;

          text-align: left;
        }
  
        .description {
          padding-left: 30px;
        }
  
        .rounded-circle {
          margin-left: 30px;
        }
      }
  
      .about-why-us:nth-child(2) {
        .title {
          padding-left: 30px;
        }
  
        .subtitle {
          padding-left: 30px;
        }
  
        .description {
          padding-left: 30px;
          margin-right: 0;
        }
  
        .rounded-circle {
          margin-left: 30px;
        }
      }
  
      .about-why-us:nth-child(3) {
        .title {
          padding-left: 30px;

          text-align: left;
        }

        .description {
          padding-left: 30px;
        }

        .rounded-circle {
          margin-left: 30px;
        }
      }
  
      .about-why-us:last-child {
        .title {
          padding-left: 0;
        }
  
        .description {
          padding-left: 0;
          margin-right: 0;
        }
  
        .rounded-circle {
          margin-left: 30px;
        }
      }
    }
  }
}

//991-768
@include respond-to (md) {
  .home {
    .introduction-about {
      padding-bottom: 504px;
      margin-top: 87px;
  
      background-image: url('../assets/images/about-bg-img.jpg');
      background-position: center;
      background-size: cover;

      .navs-wrapper {
        top: 614px;
        left: 0;
      }
      
      .title {
        font-size: 13px;
      }
  
      .active {
        color: $ink;
        background: $white;
      }
      
      .nav-link {
        padding: 7px 32px;
      }

      .arrow-right {
        :after {
          border-top: 19.5px solid transparent;
           border-bottom: 19.5px solid transparent;
        }
      }
  
      .swiper-slide:first-child {
        width: 114px;
  
        .nav-link {
          height: 40px;

          padding-top: 12px;
          padding-left: 14px;

          font-size: 13px;
        }
      }
  
      .swiper-slide:nth-child(2) {
        width: 181px;
  
        .nav-link {
          height: 40px;
          
          padding-top: 12px;
          padding-left: 23px;
          
          font-size: 13px;
        }
      }
  
      .swiper-slide:last-child {
        width: 112px;
  
        .nav-link {
          height: 40px;
          
          padding-top: 12px;
          padding-left: 0;
          
          font-size: 13px;
        }
      }

      .breadcrumb-item:first-child {
        padding-top: 10px;

        font-size: 12px;
      }
  
      .breadcrumb-item:nth-child(2) {
        padding-top: 10px;

        font-size: 12px;
      }
  
      .breadcrumb-item:last-child {
        padding-top: 10px;

        font-size: 12px;
      }
    }

    .about-content {
      margin-top: 128px;
      .about-why-us:first-child {
        .title {
          padding-left: 10px;

          font-size: 25px;
          text-align: left;
        }
  
        .description {
          font-size: 15px;
          padding-left: 10px;
        }
  
        .rounded-circle {
          width: 350px;
          height: 350px;

          margin-left: 10px;
        }
      }
  
      .about-why-us:nth-child(2) {
        .title {
          padding-left: 10px;

          font-size: 25px;
        }
  
        .subtitle {
          padding-left: 10px;
          
          font-size: 15px;
        }
  
        .description {
          padding-left: 10px;
          margin-right: 0;
          
          font-size: 15px;
        }
  
        .rounded-circle {
          width: 350px;
          height: 350px;

          margin-left: 10px;
        }
      }
  
      .about-why-us:nth-child(3) {
        .title {
            padding-left: 10px;

            font-size: 25px;
            text-align: left;
          }
    
          .description {
            font-size: 15px;
            padding-left: 10px;
          }
    
          .rounded-circle {
            width: 350px;
            height: 350px;
            
            margin-left: 10px;
          }
        }
  
      .about-why-us:last-child {
        .title {
          padding-left: 0;

          font-size: 25px;
        }
  
        .description {
          padding-left: 0;
          margin-right: 0;

          font-size: 15px;
        }
  
        .rounded-circle {
          width: 350px;
          height: 350px;

          margin-left: 10px;
        }
      }
    }
  }
}

//767-576
@include respond-to (sm) {
  .home {
    .introduction-about {
      padding-bottom: 297px;
      margin-top: 75px;

      background-position: center;

      .navs-wrapper {
        top: 395px;
        left: 0;
      }
      
      .title {
        font-size: 13px;
      }
  
      .active {
        color: $ink;
        background: $white;
      }
      
      .nav-link {
        padding: 7px 32px;
      }

      .arrow-right {
        :after {
          display: none;
        }
      }
  
      .swiper-slide:first-child {
        width: 114px;
  
        .nav-link {
          height: 40px;

          padding-top: 12px;
          padding-left: 14px;

          font-size: 13px;
        }
      }
  
      .swiper-slide:nth-child(2) {
        width: 181px;
  
        .nav-link {
          height: 40px;
          
          padding-top: 12px;
          padding-left: 23px;
          
          font-size: 13px;
        }
      }
  
      .swiper-slide:last-child {
        width: 112px;
  
        .nav-link {
          height: 40px;
          
          padding-top: 12px;
          padding-left: 0;
          
          font-size: 13px;
        }
      }

      .breadcrumb-wrapper {
        top: 345px;
      }

      .breadcrumb-item:first-child {
        padding-top: 10px;

        font-size: 12px;
      }
  
      .breadcrumb-item:nth-child(2) {
        padding-top: 10px;

        font-size: 12px;
      }
  
      .breadcrumb-item:last-child {
        padding-top: 10px;

        font-size: 12px;
      }
    }
    .about-content {
      margin-top: 0;
      .about-why-us:first-child {
        background: none;
        .title {
          position: relative;

          padding-left: 0;

          font-size: 25px;
          text-align: left;
        }
  
        .description {
          position: absolute;
          top: 451px;

          padding-left: 0;
          margin-top: 0;

          font-size: 15px;
        }
  
        .rounded-circle {
          width: 250px;
          height: 250px;

          margin-top: 33px;
          margin-left: 0;
        }
      }
  
      .about-why-us:nth-child(2) {
        .title {
          position: relative;
          top: -310px;

          padding-left: 0px;
          margin-top: 0;

          font-size: 25px;
        }
  
        .subtitle {
          position: relative;
          top: 7px;

          padding-left: 0;
          
          font-size: 15px;
        }
  
        .description {
          position: relative;
          bottom: -11px;

          padding-left: 0;
          margin-right: 0;
          
          font-size: 15px;
        }
  
        .rounded-circle {
          position: relative;
          top: 10px;

          width: 250px;
          height: 250px;

          margin-top: 207px;
          margin-left: 0px;
        }
      }
  
      .about-why-us:nth-child(3) {
        background: none;
        .title {
          position: absolute;
          bottom: 139px;

          padding-left: 0;
          margin-top: 0;

          font-size: 25px;
          text-align: left;
        }
    
          .description {
            position: relative;
            bottom: -429px;

            padding-left: 0;
            margin-top: 0;

            font-size: 15px;
          }
    
          .rounded-circle {
            position: relative;
            bottom: 125px;

            width: 250px;
            height: 250px;
            
            margin-top: 0;
            margin-left: 0;
          }
        }
  
      .about-why-us:last-child {
        .title {
          position: relative;
          bottom: 55px;

          padding-left: 10px;

          font-size: 25px;
        }
  
        .description {
          padding-left: 10px;
          margin-top: 298px;
          margin-right: 0;

          font-size: 15px;
        }
  
        .rounded-circle {
          position: absolute;
          top: 295px;

          width: 250px;
          height: 250px;

          margin-top: 0;
          margin-left: 10px;
        }
      }
    }
  }
}

//320
@media only screen and (max-width: 320px) {
  .home {
    .introduction-about {
      padding-bottom: 215px;
      margin-top: 80px;

      background-position: center;

    .navs-wrapper {
      top: 328px;
      left: 0;
      right: 0;
    }

    .arrow-right {
      padding: 2px 4px;

      :after {
        display: none;
      }
    }

    .title {
      padding-left: 0;
      padding-right: 0;
      margin-left: 0;

      font-size: 10px;
    }

      .swiper-slide:first-child {
        width: 68px;

        .nav-link {
          height: 30px;

          padding-top: 9px;
          padding-left: 0;
          padding-right: 0;

          font-size: 10px;
        }
      }

      .swiper-slide:nth-child(2) {
        width: 109px;

        .nav-link {
          height: 30px;

          padding-top: 9px;
          padding-left: 0;
          padding-right: 0;

          font-size: 10px;
        }
      }

      .swiper-slide:last-child {
        width: 84px;

        .nav-link {
          height: 30px;

          padding-top: 9px;
          margin-left: 0;
          margin-right: 0;

          font-size: 10px;
        }
      }

      .breadcrumb-wrapper {
        top: 275px;
      }

      .breadcrumb-item:first-child,
      .breadcrumb-item:nth-child(2),
      .breadcrumb-item:last-child {
        font-size: 10px;
      }
    }

    .about-content {
      margin-top: 0;
      .about-why-us:first-child {
        background: none;
        .title {
          position: relative;

          padding-left: 0;

          font-size: 25px;
          text-align: left;
        }
  
        .description {
          position: absolute;
          top: 451px;

          padding-left: 0;
          margin-top: 0;

          font-size: 15px;
        }
  
        .rounded-circle {
          width: 250px;
          height: 250px;

          margin-top: 33px;
          margin-left: 0;
        }
      }
  
      .about-why-us:nth-child(2) {
        .title {
          position: relative;
          top: -250px;

          padding-left: 0px;
          margin-top: 0;

          font-size: 25px;
        }
  
        .subtitle {
          position: relative;
          top: 35px;

          padding-left: 0;
          
          font-size: 15px;
        }
  
        .description {
          position: relative;
          bottom: -35px;

          padding-left: 0;
          margin-right: 0;
          
          font-size: 15px;
        }
  
        .rounded-circle {
          position: relative;
          top: 60px;

          width: 250px;
          height: 250px;

          margin-top: 207px;
          margin-left: 0px;
        }
      }
  
      .about-why-us:nth-child(3) {
        background: none;
        .title {
          position: absolute;
          bottom: 325px;

          padding-left: 0;
          margin-top: 0;

          font-size: 25px;
          text-align: left;
        }
    
          .description {
            position: relative;
            bottom: -380px;

            padding-left: 0;
            margin-top: 0;

            font-size: 15px;
          }
    
          .rounded-circle {
            position: relative;
            bottom: 305px;

            width: 250px;
            height: 250px;
            
            margin-top: 0;
            margin-left: 0;
          }
        }
  
      .about-why-us:last-child {
        .title {
          position: relative;
          bottom: 100px;

          padding-left: 10px;

          font-size: 25px;
        }
  
        .description {
          padding-left: 10px;
          margin-top: 222px;
          margin-right: 0;

          font-size: 15px;
        }
  
        .rounded-circle {
          position: absolute;
          top: 230px;

          width: 250px;
          height: 250px;

          margin-top: 0;
          margin-left: 10px;
        }
      }
    }
  }
}

@media (max-width: 575px) and (min-width: 400px) {
  .home {
    .introduction-about {
      padding-bottom: 215px;
      margin-top: 80px;

      background-position: center;

    .navs-wrapper {
      top: 328px;
      left: 0;
      right: 0;
    }

    .arrow-right {
      padding: 2px 4px;

      :after {
        display: none;
      }
    }

    .title {
      padding-left: 0;
      padding-right: 0;
      margin-left: 0;

      font-size: 10px;
    }

      .swiper-slide:first-child {
        width: 68px;

        .nav-link {
          height: 30px;

          padding-top: 9px;
          padding-left: 0;
          padding-right: 0;

          font-size: 10px;
        }
      }

      .swiper-slide:nth-child(2) {
        width: 109px;

        .nav-link {
          height: 30px;

          padding-top: 9px;
          padding-left: 0;
          padding-right: 0;

          font-size: 10px;
        }
      }

      .swiper-slide:last-child {
        width: 84px;

        .nav-link {
          height: 30px;

          padding-top: 9px;
          margin-left: 0;
          margin-right: 0;

          font-size: 10px;
        }
      }

      .breadcrumb-wrapper {
        top: 275px;
      }

      .breadcrumb-item:first-child,
      .breadcrumb-item:nth-child(2),
      .breadcrumb-item:last-child {
        font-size: 10px;
      }
    }

    .about-content {
      margin-top: 0;
      .about-why-us:first-child {
        background: none;
        .title {
          position: relative;

          padding-left: 0;

          font-size: 25px;
          text-align: left;
        }
  
        .description {
          position: absolute;
          top: 451px;

          padding-left: 0;
          margin-top: 0;

          font-size: 15px;
        }
  
        .rounded-circle {
          width: 250px;
          height: 250px;

          margin-top: 33px;
          margin-left: 0;
        }
      }
  
      .about-why-us:nth-child(2) {
        .title {
          position: relative;
          top: -250px;

          padding-left: 0px;
          margin-top: 0;

          font-size: 25px;
        }
  
        .subtitle {
          position: relative;
          top: 35px;

          padding-left: 0;
          
          font-size: 15px;
        }
  
        .description {
          position: relative;
          bottom: -35px;

          padding-left: 0;
          margin-right: 0;
          
          font-size: 15px;
        }
  
        .rounded-circle {
          position: relative;
          top: 60px;

          width: 250px;
          height: 250px;

          margin-top: 207px;
          margin-left: 0px;
        }
      }
  
      .about-why-us:nth-child(3) {
        margin-top: 25px;

        background: none;
        .title {
          position: absolute;
          bottom: 233px;

          padding-left: 0;
          margin-top: 0;

          font-size: 25px;
          text-align: left;
        }
    
          .description {
            position: relative;
            bottom: -380px;

            padding-left: 0;
            margin-top: 0;

            font-size: 15px;
          }
    
          .rounded-circle {
            position: relative;
            bottom: 194px;

            width: 250px;
            height: 250px;
            
            margin-top: 0;
            margin-left: 0;
          }
        }
  
      .about-why-us:last-child {
        .title {
          position: relative;
          bottom: 100px;

          padding-left: 10px;

          font-size: 25px;
        }
  
        .description {
          padding-left: 10px;
          margin-top: 222px;
          margin-right: 0;

          font-size: 15px;
        }
  
        .rounded-circle {
          position: absolute;
          top: 230px;

          width: 250px;
          height: 250px;

          margin-top: 0;
          margin-left: 10px;
        }
      }
    }
  }
}

@media (max-width: 399px) and (min-width: 321px) {
  .home {
    .introduction-about {
      padding-bottom: 215px;
      margin-top: 80px;

      background-position: center;

    .navs-wrapper {
      top: 328px;
      left: 0;
      right: 0;
    }

    .arrow-right {
      padding: 2px 4px;

      :after {
        display: none;
      }
    }

    .title {
      padding-left: 0;
      padding-right: 0;
      margin-left: 0;

      font-size: 10px;
    }

      .swiper-slide:first-child {
        width: 68px;

        .nav-link {
          height: 30px;

          padding-top: 9px;
          padding-left: 0;
          padding-right: 0;

          font-size: 10px;
        }
      }

      .swiper-slide:nth-child(2) {
        width: 109px;

        .nav-link {
          height: 30px;

          padding-top: 9px;
          padding-left: 0;
          padding-right: 0;

          font-size: 10px;
        }
      }

      .swiper-slide:last-child {
        width: 84px;

        .nav-link {
          height: 30px;

          padding-top: 9px;
          margin-left: 0;
          margin-right: 0;

          font-size: 10px;
        }
      }

      .breadcrumb-wrapper {
        top: 275px;
      }

      .breadcrumb-item:first-child,
      .breadcrumb-item:nth-child(2),
      .breadcrumb-item:last-child {
        font-size: 10px;
      }
    }

    .about-content {
      margin-top: 0;
      .about-why-us:first-child {
        background: none;
        .title {
          position: relative;

          padding-left: 0;

          font-size: 25px;
          text-align: left;
        }
  
        .description {
          position: absolute;
          top: 451px;

          padding-left: 0;
          margin-top: 0;

          font-size: 15px;
        }
  
        .rounded-circle {
          width: 250px;
          height: 250px;

          margin-top: 33px;
          margin-left: 0;
        }
      }
  
      .about-why-us:nth-child(2) {
        .title {
          position: relative;
          top: -250px;

          padding-left: 0px;
          margin-top: 0;

          font-size: 25px;
        }
  
        .subtitle {
          position: relative;
          top: 35px;

          padding-left: 0;
          
          font-size: 15px;
        }
  
        .description {
          position: relative;
          bottom: -35px;

          padding-left: 0;
          margin-right: 0;
          
          font-size: 15px;
        }
  
        .rounded-circle {
          position: relative;
          top: 60px;

          width: 250px;
          height: 250px;

          margin-top: 207px;
          margin-left: 0px;
        }
      }
  
      .about-why-us:nth-child(3) {
        margin-top: 58px;

        background: none;
        .title {
          position: absolute;
          bottom: 325px;

          padding-left: 0;
          margin-top: 0;

          font-size: 25px;
          text-align: left;
        }
    
          .description {
            position: relative;
            bottom: -380px;

            padding-left: 0;
            margin-top: 0;

            font-size: 15px;
          }
    
          .rounded-circle {
            position: relative;
            bottom: 305px;

            width: 250px;
            height: 250px;
            
            margin-top: 0;
            margin-left: 0;
          }
        }
  
      .about-why-us:last-child {
        .title {
          position: relative;
          bottom: 100px;

          padding-left: 10px;

          font-size: 25px;
        }
  
        .description {
          padding-left: 10px;
          margin-top: 222px;
          margin-right: 0;

          font-size: 15px;
        }
  
        .rounded-circle {
          position: absolute;
          top: 230px;

          width: 250px;
          height: 250px;

          margin-top: 0;
          margin-left: 10px;
        }
      }
    }
  }
}

@media (max-width: 2000px) and (min-width: 1700px) {
  .home {
    .about-content {
      margin-top: 128px;
      .about-why-us:first-child {
        .description {
          padding-left: 385px;
        }
      }
  
      .about-why-us:nth-child(2) {
        .title {
          padding-left: 100px;
        }
  
        .subtitle {
          padding-left: 100px;
        }
  
        .description {
          padding-left: 100px;
          margin-right: 310px;
        }
  
        .rounded-circle {
          margin-left: 335px;
        }
      }
  
      .about-why-us:nth-child(3) {
        .description {
          padding-left: 380px;
        }
      }
  
      .about-why-us:last-child {
        .title {
          padding-left: 100px;
        }
  
  
        .description {
          padding-left: 100px;
          margin-right: 250px;
        }
  
        .rounded-circle {
          margin-left: 360px;
        }
      }
    }
  }
}

@media (max-width: 1699px) and (min-width: 1500px) {
  .home {
    .introduction-about {
      padding-bottom: 515px;
      margin-top: 138px;
  
      background-image: url('../assets/images/about-bg-img.jpg');
      background-position: center;
      background-size: cover;

      .navs-wrapper {
        top: 662px;
        left: 0;
      }
      
      .title {
        font-size: 15px;
      }
  
      .active {
        color: $ink;
        background: $white;
      }
      
      .nav-link {
        font-size: 18.1px;
      }
  
      .swiper-slide:first-child {
        width: 134px;
  
        .nav-link {
          padding-top: 17px;
          padding-left: 14px;

          font-size: 15px;
        }
      }
  
      .swiper-slide:nth-child(2) {
        width: 214px;
  
        .nav-link {
          padding-left: 23px;
          padding-top: 17px;
          
          font-size: 15px;
        }
      }
  
      .swiper-slide:last-child {
        width: 173px;
  
        .nav-link {
          padding-left: 0;
          padding-top: 17px;
          
          font-size: 15px;
        }
      }

      .breadcrumb-item:first-child {
        padding-top: 10px;

        font-size: 12px;
      }
  
      .breadcrumb-item:nth-child(2) {
        padding-top: 10px;

        font-size: 12px;
      }
  
      .breadcrumb-item:last-child {
        padding-top: 10px;

        font-size: 12px;
      }
    }
  
    .about-content {
      margin-top: 128px;
      .about-why-us:first-child {
        .title {
          padding-left: 30px;

          text-align: left;
        }
  
        .description {
          padding-left: 30px;
        }
  
        .rounded-circle {
          margin-left: 30px;
        }
      }
  
      .about-why-us:nth-child(2) {
        .title {
          padding-left: 30px;
        }
  
        .subtitle {
          padding-left: 30px;
        }
  
        .description {
          padding-left: 30px;
          margin-right: 0;
        }
  
        .rounded-circle {
          margin-left: 30px;
        }
      }
  
      .about-why-us:nth-child(3) {
        .title {
          padding-left: 30px;

          text-align: left;
        }

        .description {
          padding-left: 30px;
        }

        .rounded-circle {
          margin-left: 30px;
        }
      }
  
      .about-why-us:last-child {
        .title {
          padding-left: 0;
        }
  
        .description {
          padding-left: 0;
          margin-right: 0;
        }
  
        .rounded-circle {
          margin-left: 30px;
        }
      }
    }
  }
}

@media (max-width: 1499px) and (min-width: 1200px) {
  .home {
    .introduction-about {
      padding-bottom: 515px;
      margin-top: 138px;
  
      background-image: url('../assets/images/about-bg-img.jpg');
      background-position: center;
      background-size: cover;

      .navs-wrapper {
        top: 662px;
        left: 0;
      }
      
      .title {
        font-size: 15px;
      }
  
      .active {
        color: $ink;
        background: $white;
      }
      
      .nav-link {
        font-size: 18.1px;
      }
  
      .swiper-slide:first-child {
        width: 134px;
  
        .nav-link {
          padding-top: 17px;
          padding-left: 14px;

          font-size: 15px;
        }
      }
  
      .swiper-slide:nth-child(2) {
        width: 214px;
  
        .nav-link {
          padding-left: 23px;
          padding-top: 17px;
          
          font-size: 15px;
        }
      }
  
      .swiper-slide:last-child {
        width: 173px;
  
        .nav-link {
          padding-left: 0;
          padding-top: 17px;
          
          font-size: 15px;
        }
      }

      .breadcrumb-item:first-child {
        padding-top: 10px;

        font-size: 12px;
      }
  
      .breadcrumb-item:nth-child(2) {
        padding-top: 10px;

        font-size: 12px;
      }
  
      .breadcrumb-item:last-child {
        padding-top: 10px;

        font-size: 12px;
      }
    }
  
    .about-content {
      margin-top: 128px;
      .about-why-us:first-child {
        .title {
          padding-left: 30px;

          text-align: left;
        }
  
        .description {
          padding-left: 30px;
        }
  
        .rounded-circle {
          margin-left: 30px;
        }
      }
  
      .about-why-us:nth-child(2) {
        .title {
          padding-left: 30px;
        }
  
        .subtitle {
          padding-left: 30px;
        }
  
        .description {
          padding-left: 30px;
          margin-right: 0;
        }
  
        .rounded-circle {
          margin-left: 30px;
        }
      }
  
      .about-why-us:nth-child(3) {
        .title {
          padding-left: 30px;

          text-align: left;
        }

        .description {
          padding-left: 30px;
        }

        .rounded-circle {
          margin-left: 30px;
        }
      }
  
      .about-why-us:last-child {
        .title {
          padding-left: 0;
        }
  
        .description {
          padding-left: 0;
          margin-right: 0;
        }
  
        .rounded-circle {
          margin-left: 30px;
        }
      }
    }
  }
}