//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
//XL
.home {
  transition: all .2s ease-in-out;
  .social-side-bar {
    .social-side-links {
      position: fixed;
      top: 370px;
      right: 0;

      padding-top: 9px;
      padding-left: 22px;
      padding-right: 22px;
      
      background-color: #fffef9;
      
      list-style: none;
      line-height: 2.5;
      
      z-index: 99;
    }
    .social-side-icons {
      width: 18px;
    }
    .social-side-icons-fb {
      width: 10px;
    }
  }
  .introduction {
    position: relative;
    top: -60px;

    height: 1002px;

    background-image: url('../assets/images/intro-pic.fw.png');
    background-size: cover;
    .swiper-container {
      width: 100%;
      height: 100%;
    }

    .swiper-pagination {
      margin: 17px 89px;
    }

    .swiper-pagination-bullet-active {
      background: $offwhite;
      opacity: 1.2;
    }

    .swiper-pagination-bullet {
      display: inline-block;
      width: 8px;
      height: 8px;

      margin: 4px;

      background-color: $gray;

      border-radius: 100%;
      opacity: 1.2;
    }

    .banner-title {
      padding-top: 319px;
      font-family: $font-opensansbold;
      color: $offwhite;
    }

    .title {
      margin-left: 89px;
      margin-top: 69px;

      font-size: 60px;
    }

    .banner-icons {
      padding-top: 84px;
      padding-left: 24px;
    }

    .img-icon-mission,
    .img-icon-feedback,
    .img-icon-contact {
      padding-right: 63px;
    }

    .icon-title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      width: 0;

      padding-top:10px;
      padding-bottom: 97px;

      margin-top: 2px;
      margin-left: 20px;

      font-size: 16px;
      font-family: $font-opensansbold;
      text-align: center;
    }

    .icon-text {
      padding-left: 66px;

      font-family: $font-opensanssemibold;
      font-size: 15px;
      color: $offwhite;
    }

    .icon-banner {
      padding-left: 61px;
      
      margin-left: 0;
      margin-right: 0;
    }
  }  
  .our-mission {
    margin-top: 10px;
    .our-mission-img {
      margin-top: 8px;
      margin-left: 67px;
    }

    .row {
      display: flex;
      flex-wrap: wrap;

      margin-top: -53px;
      margin-left: 0 ;
      margin-right: 0;
    }

    .column:first-child {
      flex: 0 24%;
      margin-top: 54px;
      margin-bottom: 2%;
      width: 33%;
      height: 100px;
    }

    .column:nth-child(2) {
      flex: 1 24%;
      margin-top: 54px;
      margin-bottom: 2%;
      width: 33%;
    }

    .column:nth-child(3) {
      flex: 1 24%;
      margin-top: 54px;
      margin-bottom: 2%;
      width: 33%;
      height: 466px;
    }

    .title {
      padding-bottom: 15px;
      
      margin-top: 0;
      margin-left: 41px;

      font-family: $font-opensansbold;
      font-size: 40px;
    }

    .mission-list {
      list-style-type: none;
    }

    .mission-description {
      ::before {
        content: '';
        position: absolute;
        top: 19px;
        left: 8px;
        width: 24px;
        height: 24px;
        background: url(../../assets/images/check.fw.png);
        background-repeat: no-repeat;
        background-position: center;
      }
    }
    
    .description {
      position: relative;

      padding-top: 16px;
      padding-left: 48px;

      margin-top: 4px;
      margin-bottom: 3px;

      font-size: 18px;
    }

    .mission-buttons {
      margin-top: 85px;
      .button:first-child {        
        padding: 18px 25px;
        
        margin-left: 39px;

        font-family: $font-opensanssemibold;
        font-size: 15px;
        color: $offwhite;
        text-decoration: none;
        
        background: $golden;
        border: none;
        border-radius: 30px;

        outline: 0;
      }

      .button:nth-child(2) {        
        padding: 19px 58px;
        
        margin-left: 8px;

        font-family: $font-opensanssemibold;
        font-size: 15px;
        color: $offwhite;
        text-decoration: none;

        background-image: url('../assets/images/buttons.fw.png');
        border: none;
        border-radius: 30px;

        outline: 0;
      }
    }

    .mission-provide-solutions {
      position: relative;
      top: -161px;
      right: 96px;
    
      height: 690px;

      background: url('../assets/images/provide-img.fw.png');
      background-repeat: no-repeat;
      background-position: center;

      .title-head {
        position: relative;
        top: 158px;

        padding-left: 84px;
        
        margin-bottom: 35px;
        
        font-family: $font-opensansbold;
        font-size: 40px;
        color: $offwhite;
      }

      .title-provide {
        position: relative;
        top: 149px;

        color: $offwhite;
      }
      
      .icon {
        position: absolute;

        padding-top: 5px;
        padding-left: 90px;
        
        width: 73px;
        
      }

      .title {
        padding-left: 122px;
        
        margin-top: 44px;

        font-size: 18px;
        font-family: $font-opensansbold;
      }

      .subtitle {
        position: absolute;
        top: 28px;

        padding-left: 161px;

        margin-left: 0;

        font-size: 17px;
      }
    }
  }
  .healthy-reading {
    .title {
      margin-top: 119px;
      margin-left: 85px;
      margin-bottom: 7px;

      font-family: $font-opensansbold;
      font-size: 40px;
      color: $ink;
    } 

    .subtitle {
      margin-left: 87px;

      font-family: $font-opensansbold;
      font-size: 18px;
      color: $ink;
    }

    .FilterBy {
      display: block;

      padding-top: 19px;
      padding-right: 35px;
      padding-bottom: 15px;
      padding-left: 25px;
      margin-top: 161px;
      margin-left: 534px;

      font-size: 15px;
      font-family: $font-opensansbold;
      color: $ink;
      text-align: center;

      background-color: $gray;
      
      border: 0;
      border-radius: 25px;

      outline: 0;
    }

    .swiper-container {
      top: -53px;
      bottom: 0;
      left: 0;

      height: 514px;

      margin-top: 70px;
      margin-bottom: 30px;

      border: none;
      border-radius: 0;
    }

    .swiper-slide:first-child {
      width: 47%;

      background-image: url('../assets/images/health-first.5.fw.png');
      background-size: cover;
      background-position: center;

      cursor: pointer;

      .description {
        margin-top: 355px;
        margin-left: 35px;
        margin-right: 55%;
        margin-bottom: 2px;
  
        font-family: $font-opensansbold;
        font-size: 29px;
        color: $offwhite;
  
        line-height: 1.3;
      }

      .date {
        margin-top: 13px;
        margin-left: 35px;

        font-family: $font-opensans;
        font-size: 14px;
        color: $offwhite;
      }

      .category {
        width: 60px;
        height: 60px;

        margin-top: 28px;
        margin-left: 39px;

        font-family: $font-opensanssemibold;
        font-size: 15px;
        color: $offwhite;
        background-color: $golden;

        text-align: center;
      }
    }

    :hover .swiper-slide:first-child {
      color: $ink;
      opacity: 0.7;
    }

    .swiper-slide:nth-child(2) {
      width: 23%;

      background-image: url('../assets/images/health-second.5.fw.png');
      background-size: cover;
      background-position: center;

      cursor: pointer;

      .description {
        margin-top: 356px;
        margin-left: 27px;
        margin-right: 29px;
        margin-bottom: 2px;
  
        font-family: $font-opensansbold;
        font-size: 29px;
        color: $offwhite;
  
        line-height: 1.3;
      }

      .date {
        margin-top: 11px;
        margin-left: 27px;

        font-family: $font-opensans;
        font-size: 14px;
        color: $offwhite;
      }

      .category {
        width: 100px;
        height: 100px;

        margin-top: 32px;
        margin-left: 30px;

        font-family: $font-opensanssemibold;
        font-size: 15px;
        color: $offwhite;
        background-color: $greeny;

        text-align: center;
      }
    }

    .swiper-slide:nth-child(3) {
      width: 23%;

      background-image: url('../assets/images/health-third.5.fw.png');
      background-size: cover;
      background-position: center;

      cursor: pointer;

      .description {
        margin-top: 356px;
        margin-left: 35px;
        margin-right: 74px;
        margin-bottom: 2px;
  
        font-family: $font-opensansbold;
        font-size: 29px;
        color: $offwhite;
  
        line-height: 1.3;
      }

      .date {
        margin-top: 15px;
        margin-left: 24px;

        font-family: $font-opensans;
        font-size: 14px;
        color: $offwhite;
      }

      .category {
        width: 124px;
        height: 110px;

        margin-top: 25px;
        margin-left: 31px;

        font-family: $font-opensanssemibold;
        font-size: 15px;
        color: $offwhite;
        background-color: $seablue;

        text-align: center;
      }
    }

    .swiper-slide:nth-child(4) {
      width: 23%;

      background-image: url('../assets/images/health-fourth.fw.png');
      background-size: cover;
      background-position: center;

      cursor: pointer;

      .description {
        margin-top: 355px;
        margin-left: 38px;
        margin-right: 5px;
        margin-bottom: 2px;
  
        font-family: $font-opensansbold;
        font-size: 29px;
        color: $offwhite;
  
        line-height: 1.3;
      }

      .date {
        margin-top: 13px;
        margin-left: 35px;

        font-family: $font-opensans;
        font-size: 14px;
        color: $offwhite;
      }

      .category {
        width: 100px;
        height: 100px;

        margin-top: 31px;
        margin-left: 39px;

        font-family: $font-opensanssemibold;
        font-size: 15px;
        color: $offwhite;
        background-color: $golden;

        text-align: center;
      }
    }
    .journal-btn {
      width: 100%;
      
      margin-left: 85px;

      padding: 19px 60px;
      
      font-family: $font-opensansbold;
      font-size: 15px;
      color: $offwhite;
      text-decoration: none;

      background-image: url('../assets/images/buttons.fw.png');
      
      border-radius: 30px;
      border: 0;

      outline: 0;
    }
  }
  .information-system {
    padding-bottom: 100px;
    margin-top: 105px;

    background-image:url('../assets/images/information-bg.fw.png');
    background-size: cover;
    .information-img {
      margin-top: 213px;
      margin-left: 104px;
    }

    .title {
      margin-top: 203px;
      margin-left: 23px;

      font-family: $font-opensansbold;
      font-size: 40px;
      color: $ink;
    }

    .subtitle {
      margin-top: -11px;
      margin-left: 21px;

      font-family: $font-opensansbold;
      font-size: 45px;
      color: $seablue;
    }

    .description {
      margin-top: 36px;
      margin-left: 22px;
      margin-right: 91px;

      font-size: 15px;
      letter-spacing: 0.8px;
      line-height: 1.9;
    }

    .list-information {
      list-style-type: none;
      ::before {
        content: '';
        position: absolute;
        top: -5px;
        left: -17px;

        width: 30px;
        height: 28px;

        background: url(../../assets/images/check.fw.png) no-repeat center;
        background-size: 100%;
      }
    
    .information-text {
      position: relative;
      top: 40px;

      padding-left: 28px;
      margin-bottom: 22px;

      font-family: $font-opensansbold;
      font-size: 18px;
      color: $ink;
    }
  }

    .solutions-btn {
      position: relative;
      top: 83px;
      margin-left: 26px;

      width: 100%;

      padding: 18px 52px;
      
      font-family: $font-opensanssemibold;
      font-size: 15px;
      color: $offwhite;

      background-image: url('../assets/images/buttons.fw.png');
      border-radius: 30px;
      border: none;

      outline: 0;
    }

    .bottom-bg-image {
      position: absolute;
      left: 464px;
      bottom: -251px;
    }
  }
}

//1199-992
@include respond-to (lg) {
  .home {
    transition: all .2s ease-in-out;
    .introduction {
      position: relative;
      top: -130px;
  
      padding-bottom: 2px;
  
      background-image: url('../assets/images/intro-pic.fw.png');
      background-size: cover;
      background-position: center;
      .swiper-container {
        width: 100%;
        height: 100%;
      }
      .swiper-pagination {
        margin: 17px 89px;
      }
      .swiper-pagination-bullet-active {
        background: $offwhite;
        opacity: 1.2;
      }
      .swiper-pagination-bullet {
        display: inline-block;
        width: 8px;
        height: 8px;
  
        margin: 4px;
  
        background-color: $gray;
  
        border-radius: 100%;
        opacity: 1.2;
      }
      .banner-title {
        padding-top: 267px;
        font-family: $font-opensansbold;
        color: $offwhite;
      }
      .title {
        margin-left: 89px;
        margin-top: 69px;
  
        font-size: 60px;
      }
      .banner-icons {
        padding-top: 84px;
        padding-left: 24px;
      }
      .img-icon-mission,
      .img-icon-feedback,
      .img-icon-contact {
        padding-right: 63px;
      }
      .icon-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
  
        width: 0;
  
        padding-top:10px;
        padding-bottom: 97px;
  
        margin-top: 2px;
        margin-left: 20px;
  
        font-size: 16px;
        font-family: $font-opensansbold;
        text-align: center;
      }
      .icon-text {
        padding-left: 66px;
  
        font-family: $font-opensanssemibold;
        font-size: 15px;
        color: $offwhite;
      }
      .icon-banner {
        padding-left: 61px;
        
        margin-left: 0;
        margin-right: 0;
      }
    } 
    .our-mission { 
      .our-mission-img {
        width: 265px;

        margin-left: 0;
      }
  
      .title {
        margin-left: 67px;
      }

      .row {
        display: flex;
        flex-wrap: wrap;
  
        margin-top: -53px;
        margin-left: 0 ;
        margin-right: 0;
      }
  
      .column:first-child {
        flex: 0 24%;
        margin-top: 54px;
        margin-bottom: 2%;
        width: 33%;
        height: 100px;
      }
  
      .column:nth-child(2) {
        flex: 1 24%;
        margin-top: 54px;
        margin-bottom: 2%;
        width: 33%;
      }
  
      .column:nth-child(3) {
        flex: 1 24%;
        margin-top: 54px;
        margin-bottom: 2%;
        width: 33%;
      }

      .mission-description {
        ::before {
          content: '';
          left: 28px;
        }
      }
      
      .description {
        padding-left: 67px;

        font-size: 15px;
      }
  
      .mission-buttons {
        width: 301px;

        margin-top: 67px;
        .button:first-child {
          padding: 19px 30px;
          margin-left: 70px;
          
          font-size: 13px;
        }
  
        .button:nth-child(2) {   
          margin-left: 68px;

          font-size: 13px;

          line-height: 8;
        }
      }
  
      .mission-provide-solutions {
        top: -189px;
        right: 6px;
  
        .title-head {
          padding-left: 70px;
        }
        
        .icon {
          padding-left: 31px;
        }
  
        .title {
          padding-left: 33px;
        }
  
        .subtitle {
          padding-left: 100px;
        }
      }
    }
    .healthy-reading {
      .title {
        margin-left: 50px;
      }
  
      .subtitle {
        margin-left: 51px;

        font-size: 16px;
      }
  
      .FilterBy {
        margin-left: 250px;
      }
  
      .swiper-container {
        top: -53px;
        left: 15px;
  
        width: 100%;
      }
  
      .swiper-slide:first-child {
        width: 55%;

        background-image: url('../assets/images/health-first.5.fw.png');
        background-size: cover;
  
        .description {
          margin-top: 366px;
          margin-left: 35px;
          margin-right: 21%;
        }
  
        .category {
          height: 22px;
  
          margin-top: 0;
          margin-left: 32px;
        }
      }
  
      .swiper-slide:nth-child(2) {
        width: 35%;

        background-image: url('../assets/images/health-second.5.fw.png');
        background-size: cover;
  
        .description {
          margin-top: 368px;
          margin-left: 25px;
          margin-right: 0;
        }
  
        .category {
          height: 26px;
  
          margin-top: 0;
          margin-left: 23px;
        }
      }
  
      .swiper-slide:nth-child(3) {
        width: 35%;
        background-image: url('../assets/images/health-third.5.fw.png');
        background-size: cover;
  
        .description {
          margin-top: 362px;
          margin-left: 23px;
        }
  
        .category {
          height: 24px;

          margin-top: 19px;
          margin-left: 22px;
        }
      }
  
      .swiper-slide:nth-child(4) {
        width: 35%;

        background-image: url('../assets/images/health-fourth.fw.png');
        background-size: cover;
  
        .description {
          margin-top: 373px;
          margin-left: 27px;
          margin-right: 0;
        }
  
        .category {
          height: 19px;
  
          margin-top: 0;
          margin-left: 31px;
        }
      }

      .journal-btn {
        width: 100%;
        
        margin-left: 85px;
  
        padding: 19px 60px;
        
        font-family: $font-opensansbold;
        font-size: 15px;
        color: $offwhite;
  
        background-image: url('../assets/images/buttons.fw.png');
        
        border-radius: 30px;
        border: 0;
  
        outline: 0;
      }
    }
    .information-system {
      background-position: -111px;
      padding-bottom: 190px;
  
      .information-img {
        margin-left: 0;
      }

      .information-img img {
        width: 500px;
      }
  
      .title {
        margin-top: 207px;
        font-size: 38px;
      }
  
      .subtitle {
        font-size: 42px;
      }
  
      .description {
        margin-top: 0;
        margin-right: 0;
  
        font-size: 13px;
      }
  
      .list-information {
        list-style-type: none;
        ::before {
          content: '';
          position: absolute;
          top: 0;
          left: -9px;
  
          width: 25px;
        }
      
      .information-text {
        top: 15px;

        font-size: 16px;
      }
    }
  
      .solutions-btn {
        padding: 18px 48px;

        font-size: 14px;
      }
  
      .bottom-bg-image {
        left: 194px;
        bottom: -239px;

        width: 300px;
      }
    }
  }
}
  
//991-768
@include respond-to (md) {
  .home {
    transition: all .2s ease-in-out;
    .introduction {
      top: -50px;
      height: 672px;

      padding-bottom: 0;

      background-position: center;
      .banner-title {
        padding-top: 0;

        margin-top: 357px;
      }
      .title {
        margin-left: 16px;
        margin-top: 80px;

        font-size: 25px;
      }

      .banner-icons {
        padding-top: 70px;
        padding-left: 0;
        margin-left: -24px;
      }

      .icon-title {
        margin-left: -31px;
      }

      .icon-text {
        padding-left: 62px;

        font-size: 12px;
      }

      .icon-banner {
        padding-left: 30px;
        
        margin-left: 16px;
        margin-right: 0;
      }

      .swiper-pagination {
        top: 433px;

        margin: 0 2px;
        margin-left: 13px;
      }

      .swiper-pagination-bulelt {
        width: 4px;
        height: 4px;
      }
    } 
    .our-mission { 
      margin-top: 25px;
      .our-mission-img {
        width: 253px;

        margin-top: 0;
        margin-left: 6px;
      }
  
      .row {
        display: flex;
        flex-wrap: wrap;
  
        margin-top: -85px;
        margin-left: 0 ;
        margin-right: 0;
      }
  
      .column:first-child {
        flex: 0 24%;
        
        width: 33%;

        margin-top: 54px;
        margin-bottom: 2%;
      }
  
      .column:nth-child(2) {
        flex: 0 24%;

        width: 33%;

        margin-top: 54px;
        margin-bottom: 2%;
      }
  
      .column:nth-child(3) {
        flex: 0 41%;

        width: 770px;
        height: 2px;

        margin-top: 54px;
        margin-bottom: 2%;
      }
  
      .title {
        width: 200px;

        padding-bottom: 0;
        margin-top: -6px;

        margin-left: 47px;

        font-size: 30px;
      }

      .mission-description {
        ::before {
          content: '';
          top: 21px;
          left: 13px;
        }
      }
      
      .description {
        width: 335px;
        padding-top: 18px;
        padding-left: 50px;

        margin-right: -90px;

        font-size: 18px;
      }
  
      .mission-buttons {
        width: 317px;

        margin-top: 12px;
        margin-left: 189px;
        .button:first-child {
          padding: 17px 32px;
          margin-left: -144px;
          
          font-size: 13px;
        }
  
        .button:nth-child(2) {   
          padding: 19px 63px;

          margin-left: 13px;

          font-size: 13px;

          line-height: 7.5;
        }
      }
  
      .mission-provide-solutions {
        top: -48px;
        left: -5px;
  
        width: 751px;
        height: 554px;

        background-size: cover;

        .title-head {
          top: 91px;
          
          padding-left: 87px;

          font-size: 30px;
        }
        
        .title-provide {
          top: 62px;
        }

        .icon {
          padding-left: 87px;
        }
  
        .title {
          width: 309px;

          padding-left: 112px;
          margin-top: 60px;
        }
  
        .subtitle {
          padding-left: 170px;
        }
      }
    }
    .healthy-reading {
      .title {
        margin-top: 531px;
        margin-left: 23px;
        margin-bottom: 2px;

        font-size: 30px;
      }
  
      .subtitle {
        width: 567px;
        margin-left: 21px;

        font-size: 16px;
      }
  
      .FilterBy {
        display: none;
      }
  
      .swiper-container {
        top: -67px;
        left: 13px;

        height: 362px;

        margin-bottom: -34px;
      }
  
      .swiper-slide:first-child {
        width: 50%;

        background-image: url('../assets/images/health-first.5.fw.png');
  
        .description {
          margin-top: 230px;
          margin-left: 32px;
          margin-right: 107px;

          font-size: 25px;
        }

        .date {
          margin-bottom: 0;
        }
  
        .category {
          height: 22px;
  
          margin-top: 13px;
          margin-left: 32px;
        }
      }
  
      .swiper-slide:nth-child(2) {
        width: 50%;

        background-image: url('../assets/images/health-second.5.fw.png');
        background-size: cover;
  
        .description {
          padding-top: 87px;

          margin-top: 142px;
          margin-left: 24px;
          margin-right: 21px;

          font-size: 24px;
        }

        .date {
          margin-top: 11px;
          margin-left: 27px;
          margin-bottom: 17px;
        }
  
        .category {
          height: 26px;
  
          margin-top: 0;
          margin-left: 23px;
        }
      }
  
      .swiper-slide:nth-child(3) {
        width: 30%;

        background-image: url('../assets/images/health-third.5.fw.png');
        background-size: cover;
  
        .description {
          margin-top: 198px;
          margin-left: 25px;
          margin-right: 28px;

          font-size: 25px;
        }

        .date {
          margin-top: 38px;
        }
  
        .category {
          height: 24px;

          margin-top: 19px;
          margin-left: 22px;
        }
      }
  
      .swiper-slide:nth-child(4) {
        width: 30%;

        background-image: url('../assets/images/health-fourth.fw.png');
        background-size: cover;
  
        .description {
          margin-top: 247px;
          margin-left: 12px;
          margin-right: 0;

          font-size: 19px;
        }
  
        .category {
          height: 19px;
  
          margin-top: 0;
          margin-left: 31px;
        }
      }

      .journal-btn {
        width: 100%;
        
        margin-left: 18px;
  
        padding: 12px 38px;

        font-size: 13px;
      }
    }
    .information-system {
      height: 853px;

      padding-bottom: 0;
      margin-top: 35px;

      background-position: -118px;
  
      .information-img {
        margin-top: 141px;
        margin-left: 33px;
      }

      .information-img img {
        width: 414px;
      }
  
      .title {
        margin-top: 26px;
        margin-left: 31px;

        font-size: 30px;
      }
  
      .subtitle {
        margin-top: -8px;
        margin-left: 30px;

        font-size: 31px;
      }
  
      .description {
        margin-top: 15px;
        margin-right: 50px;
  
        font-size: 15px;
      }
  
      .list-information {
        list-style-type: none;
        ::before {
          content: '';
          position: absolute;
          top: 0;
          left: -9px;
  
          width: 25px;
        }
      
      .information-text {
        top: 21px;

        padding-left: 33px;

        font-size: 18px;
      }
    }
  
      .solutions-btn {
        top: 43px;

        padding: 14px 35px;
        margin-left: 22px;

        font-size: 12px;
      }
  
      .bottom-bg-image {
        display: none;
      }
    }
  }
}

//767-576
@include respond-to (sm) {
  .social-side-bar {
    display: none;
  }
  .home {
    transition: all .2s ease-in-out;
    .introduction {
      top: -89px;
      height: 604px;

      padding-bottom: 0;

      background-position: center;
      .banner-title {
        padding-top: 0;

        margin-top: 307px;
      }
      .title {
        margin-left: 16px;
        margin-top: 80px;

        font-size: 25px;
      }

      .banner-icons {
        padding-top: 70px;
        padding-left: 0;
        margin-left: -24px;
      }

      .icon-title {
        margin-left: -31px;
      }

      .icon-text {
        padding-left: 62px;

        font-size: 12px;
      }

      .icon-banner {
        padding-left: 30px;
        
        margin-left: 16px;
        margin-right: 0;
      }

      .swiper-pagination {
        top: 433px;

        margin: 0 2px;
        margin-left: 13px;
      }

      .swiper-pagination-bulelt {
        width: 4px;
        height: 4px;
      }
    } 
    .our-mission { 
      margin-top: -27px;
      .our-mission-img {
        display: none;
      }
  
      .row {
        display: flex;
        flex-wrap: wrap;
  
        margin-top: -85px;
        margin-left: 0 ;
        margin-right: 0;
      }
  
      .column:first-child {
        display: none;
      }
  
      .column:nth-child(2) {
        flex: 0 24%;

        width: 33%;

        margin-top: 54px;
        margin-bottom: 2%;
      }
  
      .column:nth-child(3) {
        flex: 0 41%;

        width: 770px;
        height: 2px;

        margin-top: 54px;
        margin-bottom: 2%;
      }

      .provide-solutions {
        display: flex;
      }
  
      .title {
        width: 200px;

        padding-bottom: 0;
        margin-top: -6px;

        margin-left: 47px;

        font-size: 30px;
      }

      .mission-description {
        ::before {
          content: '';
          top: 21px;
          left: 13px;
        }
      }
      
      .description {
        width: 335px;
        padding-top: 18px;
        padding-left: 50px;

        margin-right: -90px;

        font-size: 18px;
      }
  
      .mission-buttons {
        width: 317px;

        margin-top: 12px;
        margin-left: 189px;
        .button:first-child {
          padding: 17px 32px;
          margin-left: -144px;
          
          font-size: 13px;
        }
  
        .button:nth-child(2) {   
          padding: 19px 63px;

          margin-left: 13px;

          font-size: 13px;

          line-height: 7.5;
        }
      }
  
      .mission-provide-solutions {
        top: -48px;
        left: -6px;
  
        width: 560px;
        height: 554px;

        background-size: cover;

        .title-head {
          top: 91px;
          
          padding-left: 0;

          font-size: 30px;
          text-align: center;
        }
        
        .title-provide {
          top: 62px;
        }

        .icon {
          padding-left: 87px;
        }
  
        .title {
          width: 309px;

          padding-left: 99px;
          margin-top: 60px;
        }
  
        .subtitle {
          padding-left: 146px;
        }
      }
    }
    .healthy-reading {
      .title {
        margin-top: 531px;
        margin-left: 23px;
        margin-bottom: 2px;

        font-size: 30px;
      }
  
      .subtitle {
        width: 420px;
        margin-left: 21px;

        font-size: 16px;
      }
  
      .FilterBy {
        display: none;
      }
  
      .swiper-container {
        top: -67px;
        left: 13px;

        height: 362px;

        margin-bottom: -34px;
      }
  
      .swiper-slide:first-child {
        width: 50%;

        background-image: url('../assets/images/health-first.5.fw.png');
  
        .description {
          margin-top: 229px;
          margin-left: 32px;
          margin-right: 10%;

          font-size: 24px;
        }

        .date {
          margin-bottom: 16px;
        }
  
        .category {
          height: 22px;
  
          margin-top: 0;
          margin-left: 32px;
        }
      }
  
      .swiper-slide:nth-child(2) {
        width: 50%;

        background-image: url('../assets/images/health-second.5.fw.png');
        background-size: cover;
  
        .description {
          margin-top: 203px;
          margin-bottom: 2px;

          font-size: 25px;
        }

        .date {
          margin-top: 15px;
          margin-left: 25px;
          margin-bottom: 2px;
        }
  
        .category {
          height: 26px;
  
          margin-top: 9px;
          margin-left: 23px;
        }
      }
  
      .swiper-slide:nth-child(3) {
        width: 50%;

        background-image: url('../assets/images/health-third.5.fw.png');
        background-size: cover;
  
        .description {
          margin-top: 219px;
          margin-left: 25px;
          margin-right: 48px;

          font-size: 28px;
        }

        .date {
          margin-top: 10px;
        }
  
        .category {
          height: 24px;

          margin-top: 19px;
          margin-left: 22px;
        }
      }
  
      .swiper-slide:nth-child(4) {
        width: 50%;

        background-image: url('../assets/images/health-fourth.fw.png');
        background-size: cover;
  
        .description {
          margin-top: 199px;
          margin-left: 12px;
          margin-right: 26px;

          font-size: 25px;
        }
  
        .category {
          height: 19px;
  
          margin-top: 0;
          margin-left: 31px;
        }
      }

      .journal-btn {
        width: 100%;
        
        margin-left: 18px;
  
        padding: 19px 65px;

        font-size: 13px;
      }
    }
    .information-system {
      height: 1131px;

      padding-bottom: 0;
      margin-top: 35px;

      background-position: -154px;
      .information-img {
        display: flex;
        align-items: center;
        justify-content: center;

        margin-top: 332px;
        margin-left: 0;
      }

      .information-img img {
        width: 549px;
      }
  
      .title {
        position: absolute;
        top: -600px;

        margin-top: 26px;
        margin-left: 31px;

        font-size: 30px;
      }
  
      .subtitle {
        position: absolute;
        top: -535px;

        margin-top: -8px;
        margin-left: 30px;

        font-size: 31px;
      }
  
      .description {
        margin-top: 15px;
        margin-right: 50px;
  
        font-size: 15px;
      }
  
      .list-information {
        list-style-type: none;
        ::before {
          content: '';
          position: absolute;
          top: 0;
          left: -9px;
  
          width: 25px;
        }
      
      .information-text {
        top: 21px;

        padding-left: 33px;

        font-size: 18px;
      }
    }
  
      .solutions-btn {
        display: none;
      }
  
      .bottom-bg-image {
        display: none;
      }
    }
  }
}

//320
@include respond-to (xs) {
  .social-side-bar {
    display: none;
  }
  .home {
    transition: all .2s ease-in-out;
    .introduction {
      top: -89px;
      height: 520px;

      padding-bottom: 0;

      background-position: left;
      .banner-title {
        padding-top: 0;

        margin-top: 217px;
      }
      .title {
        margin-left: 0;
        margin-top: 0;

        font-size: 25px;
      }

      .banner-icons {
        padding-top: 70px;
        padding-left: 0;
        margin-left: -41px;
      }

      .icon-title {
        margin-left: -37px;
      }

      .icon-text {
        padding-left: 47px;

        font-size: 15px;
      }

      .icon-banner {
        padding-left: 0;
        
        margin-left: 46px;
        margin-right: 0;
      }

      .swiper-pagination {
        top: 307px;
        left: -5px;

        margin: 0 2px;
        margin-left: 0;
      }

      .swiper-pagination-bulelt {
        width: 5px;
        height: 5px;
      }
    } 
    .our-mission { 
      margin-top: -27px;
      .our-mission-img {
        display: none;
      }
  
      .row {
        display: flex;
        flex-wrap: wrap;
  
        margin-top: -85px;
        margin-left: 0 ;
        margin-right: 0;
      }
  
      .column:first-child {
        display: none;
      }
  
      .column:nth-child(2) {
        flex: 0 24%;

        width: 33%;

        margin-top: 54px;
        margin-bottom: 2%;
      }
  
      .column:nth-child(3) {
        flex: 0 41%;

        width: 200px;
        height: 2px;

        margin-top: 54px;
        margin-bottom: 2%;
      }

      .provide-solutions {
        display: flex;
      }
  
      .title {
        width: 200px;

        padding-bottom: 0;
        margin-top: -28px;

        margin-left: 0;

        font-size: 20px;
      }

      .mission-description {
        ::before {
          content: '';
          top: 13px;
          left: -46px;
        }
      }
      
      .description {
        width: 260px;
        padding-top: 17px;
        padding-left: 0;

        margin-right: -90px;

        font-size: 13px;
      }
  
      .mission-buttons {
        position: relative;
        top: -16px;
        left: -5px;

        width: 307px;

        margin-top: 0;
        margin-left: 0;
        .button:first-child {
          padding: 12px 24px;
          margin-left: 0;
          
          font-size: 10px;
        }
  
        .button:nth-child(2) {   
          padding: 14px 40px;

          margin-left: 3px;

          font-size: 12px;

          line-height: 7.5;
        }
      }
  
      .mission-provide-solutions {
        top: -63px;
        left: -9px;
  
        width: 320px;
        height: 456px;

        background-size: cover;
        .title-head {
          top: 34px;
          left: -27px;
          
          padding-left: 0;

          font-size: 20px;
          text-align: center;
        }
        
        .title-provide {
          top: -5px;
        }

        .icon {
          padding-left: 13px;
        }

        .icon img {
          width: 36px;
        }
  
        .title {
          width: 309px;

          padding-left: 75px;
          margin-top: 69px;

          font-size: 15px;
        }
  
        .subtitle {
          top: 21px;

          padding-left: 74px;
          margin-right: 9px;

          font-size: 15px;
        }
      }
    }
    .healthy-reading {
      .title {
        margin-top: 406px;
        margin-left: 0;
        margin-bottom: 2px;

        font-size: 20px;
      }
  
      .subtitle {
        width: 277px;
        margin-left: 0;

        font-size: 12px;
      }
  
      .FilterBy {
        display: none;
      }
  
      .swiper-container {
        top: -73px;
        left: -3px;

        height: 198px;

        margin-bottom: -34px;
      }
  
      .swiper-slide:first-child {
        width: 97%;

        background-image: url('../assets/images/health-first.5.fw.png');
  
        .description {
          margin-top: 108px;
          margin-left: 14px;
          margin-right: 21%;

          font-size: 19px;
        }

        .date {
          margin-top: 1px;
          margin-left: 18px;
          margin-bottom: 6px;

          font-size: 11px;
        }
  
        .category {
          width: 44px;
          height: 22px;
  
          margin-top: 0;
          margin-left: 15px;

          font-size: 11px;
        }
      }
  
      .swiper-slide:nth-child(2) {
        width: 50%;

        background-image: url('../assets/images/health-second.5.fw.png');
        background-size: cover;
  
        .description {
          margin-top: 61px;
          margin-left: 5px;
          margin-right: 0;

          font-size: 19px;
        }

        .date {
          margin-top: 4px;
          margin-left: 8px;
          margin-bottom: 2px;

          font-size: 11px;
        }
  
        .category {
          width: 77px;
          height: 26px;
  
          margin-top: 5px;
          margin-left: 4px;

          font-size: 12px;
        }
      }
  
      .swiper-slide:nth-child(3) {
        width: 50%;

        background-image: url('../assets/images/health-third.5.fw.png');
        background-size: cover;
  
        .description {
          margin-top: 73px;
          margin-left: 5px;
          margin-right: 28px;

          font-size: 19px;
        }

        .date {
          margin-top: 12px;
          margin-left: 7px;
          margin-bottom: 1px;

          font-size: 11px;
        }
  
        .category {
          width: 103px;
          height: 24px;

          margin-top: 7px;
          margin-left: 1px;

          font-size: 13px;
        }
      }
  
      .swiper-slide:nth-child(4) {
        width: 50%;

        background-image: url('../assets/images/health-fourth.fw.png');
        background-size: cover;
  
        .description {
          margin-top: 56px;
          margin-left: 5px;
          margin-right: 0;

          font-size: 19px;
        }
        
        .date {
          margin-top: 5px;
          margin-left: 5px;
          margin-bottom: 8px;

          font-size: 10px;
        }
  
        .category {
          width: 75px;
          height: 19px;
  
          margin-top: 0;
          margin-left: 6px;

          font-size: 12px;
        }
      }

      .journal-btn {
        position: relative;
        top: -11px;
        left: -24px;

        width: 100%;
        
        padding: 13px 40px;
        
        margin-left: 18px;

        font-size: 13px;
      }
    }
    .information-system {
      height: 796px;

      padding-bottom: 0;
      margin-top: -43px;

      background-position: -154px;
      .information-img {
        display: flex;
        align-items: center;
        justify-content: center;

        margin-top: 191px;
        margin-left: 0;
      }

      .information-img img {
        width: 292px;
      }
  
      .title {
        position: absolute;
        top: -341px;

        margin-top: 31px;
        margin-left: 0;

        font-size: 20px;
      }
  
      .subtitle {
        position: absolute;
        top: -287px;

        margin-top: 0;
        margin-left: 0;

        font-size: 22px;
      }
  
      .description {
        margin-top: 10px;
        margin-left: 0;
        margin-right: 42px;
  
        font-size: 12px;
        letter-spacing: .8px;

        line-height: 2;
      }
  
      .list-information {
        list-style-type: none;
        ::before {
          content: '';
          position: absolute;
          top: 0;
          left: -40px;
  
          width: 25px;
        }
      
      .information-text {
        top: 7px;

        padding-left: 4px;
        margin-bottom: 13px;
        margin-right: 12px;

        font-size: 14px;
      }
    }
  
      .solutions-btn {
        display: none;
      }
  
      .bottom-bg-image {
        display: none;
      }
    }
  }
}

@media (max-width: 1530px) {
  .home {

    .our-mission {
      .mission-provide-solutions {
        width: 647px;
      }
    }
   
    .information-system {  
      .bottom-bg-image {
        left: 373px;
      }
    }
  }
}

@media (max-width: 575px) and (min-width: 400px) {
  .social-side-bar {
    display: none;
  }
  .home {
    transition: all .2s ease-in-out;
    .introduction {
      top: -89px;
      height: 604px;

      padding-bottom: 0;

      background-position: center;
      .banner-title {
        padding-top: 0;

        margin-top: 307px;
      }
      .title {
        margin-left: 16px;
        margin-top: 80px;

        font-size: 25px;
      }

      .banner-icons {
        padding-top: 70px;
        padding-left: 0;
        margin-left: -24px;
      }

      .icon-title {
        margin-left: -31px;
      }

      .icon-text {
        padding-left: 62px;

        font-size: 12px;
      }

      .icon-banner {
        padding-left: 30px;
        
        margin-left: 16px;
        margin-right: 0;
      }

      .swiper-pagination {
        top: 433px;

        margin: 0 2px;
        margin-left: 13px;
      }

      .swiper-pagination-bulelt {
        width: 4px;
        height: 4px;
      }
    } 
    .our-mission { 
      margin-top: -27px;
      .our-mission-img {
        display: none;
      }
  
      .row {
        display: flex;
        flex-wrap: wrap;
  
        margin-top: -85px;
        margin-left: 0 ;
        margin-right: 0;
      }
  
      .column:first-child {
        display: none;
      }
  
      .column:nth-child(2) {
        flex: 0 24%;

        width: 33%;

        margin-top: 54px;
        margin-bottom: 2%;
      }
  
      .column:nth-child(3) {
        flex: 0 41%;

        width: 385px;
        height: 2px;

        margin-top: 54px;
        margin-bottom: 2%;
      }

      .provide-solutions {
        display: flex;
      }
  
      .title {
        width: 200px;

        padding-bottom: 0;
        margin-top: -6px;

        margin-left: 47px;

        font-size: 30px;
      }

      .mission-description {
        ::before {
          content: '';
          top: 21px;
          left: 13px;
        }
      }
      
      .description {
        width: 335px;
        padding-top: 18px;
        padding-left: 50px;

        margin-right: -90px;

        font-size: 18px;
      }
  
      .mission-buttons {
        position: relative;
        top: -16px;
        left: -5px;

        width: 307px;

        margin-top: 0;
        margin-left: 0;
        .button:first-child {
          padding: 12px 24px;
          margin-left: 0;
          
          font-size: 10px;
        }
  
        .button:nth-child(2) {   
          padding: 14px 40px;

          margin-left: 3px;

          font-size: 12px;

          line-height: 7.5;
        }
      }
  
      .mission-provide-solutions {
        top: -48px;
        left: -6px;
  
        width: 431px;
        height: 554px;

        background-size: cover;

        .title-head {
          top: 91px;
          
          padding-left: 32px;

          font-size: 28px;
          text-align: center;
        }
        
        .title-provide {
          top: 62px;
        }

        .icon {
          padding-left: 33px;
        }
  
        .title {
          width: 309px;

          padding-left: 50px;
          margin-top: 60px;
        }
  
        .subtitle {
          padding-left: 96px;
        }
      }
    }
    .healthy-reading {
      .title {
        margin-top: 531px;
        margin-left: 23px;
        margin-bottom: 2px;

        font-size: 30px;
      }
  
      .subtitle {
        width: 365px;
        margin-left: 21px;

        font-size: 16px;
      }
  
      .FilterBy {
        display: none;
      }
  
      .swiper-container {
        top: -67px;
        left: 13px;

        height: 362px;

        margin-bottom: -34px;
      }
  
      .swiper-slide:first-child {
        width: 50%;

        background-image: url('../assets/images/health-first.5.fw.png');
  
        .description {
          margin-top: 229px;
          margin-left: 32px;
          margin-right: 10%;

          font-size: 24px;
        }

        .date {
          margin-bottom: 16px;
        }
  
        .category {
          height: 22px;
  
          margin-top: 0;
          margin-left: 32px;
        }
      }
  
      .swiper-slide:nth-child(2) {
        width: 50%;

        background-image: url('../assets/images/health-second.5.fw.png');
        background-size: cover;
  
        .description {
          margin-top: 203px;
          margin-bottom: 2px;

          font-size: 25px;
        }

        .date {
          margin-top: 15px;
          margin-left: 25px;
          margin-bottom: 2px;
        }
  
        .category {
          height: 26px;
  
          margin-top: 9px;
          margin-left: 23px;
        }
      }
  
      .swiper-slide:nth-child(3) {
        width: 50%;

        background-image: url('../assets/images/health-third.5.fw.png');
        background-size: cover;
  
        .description {
          margin-top: 219px;
          margin-left: 25px;
          margin-right: 48px;

          font-size: 28px;
        }

        .date {
          margin-top: 10px;
        }
  
        .category {
          height: 24px;

          margin-top: 19px;
          margin-left: 22px;
        }
      }
  
      .swiper-slide:nth-child(4) {
        width: 50%;

        background-image: url('../assets/images/health-fourth.fw.png');
        background-size: cover;
  
        .description {
          margin-top: 199px;
          margin-left: 12px;
          margin-right: 26px;

          font-size: 25px;
        }
  
        .category {
          height: 19px;
  
          margin-top: 0;
          margin-left: 31px;
        }
      }

      .journal-btn {
        width: 100%;
        
        margin-left: 18px;
  
        padding: 19px 65px;

        font-size: 13px;
      }
    }
    .information-system {
      height: 1131px;

      padding-bottom: 0;
      margin-top: 35px;

      background-position: -154px;
      .information-img {
        display: flex;
        align-items: center;
        justify-content: center;

        margin-top: 332px;
        margin-left: 0;
      }

      .information-img img {
        width: 350px;
      }
  
      .title {
        position: absolute;
        top: -447px;

        margin-top: 26px;
        margin-left: 31px;

        font-size: 30px;
      }
  
      .subtitle {
        position: absolute;
        top: -345px;

        margin-top: -8px;
        margin-left: 30px;

        font-size: 31px;
      }
  
      .description {
        margin-top: 46px;
        margin-left: 40px;
        margin-right: 50px;
  
        font-size: 15px;
      }
  
      .list-information {
        list-style-type: none;
        ::before {
          content: '';
          position: absolute;
          top: 0;
          left: -9px;
  
          width: 25px;
        }
      
      .information-text {
        top: 21px;

        padding-left: 33px;

        font-size: 18px;
      }
    }
  
      .solutions-btn {
        display: none;
      }
  
      .bottom-bg-image {
        display: none;
      }
    }
  }
}

@media (max-width: 399px) and (min-width: 328px) {
  .social-side-bar {
    display: none;
  }
  .home {
    transition: all .2s ease-in-out;
    .introduction {
      top: -89px;
      height: 520px;

      padding-bottom: 0;

      background-position: left;
      .banner-title {
        padding-top: 0;

        margin-top: 217px;
      }
      .title {
        margin-left: 0;
        margin-top: 0;

        font-size: 25px;
      }

      .banner-icons {
        padding-top: 70px;
        padding-left: 0;
        margin-left: -41px;
      }

      .icon-title {
        margin-left: -37px;
      }

      .icon-text {
        padding-left: 47px;

        font-size: 15px;
      }

      .icon-banner {
        padding-left: 0;
        
        margin-left: 46px;
        margin-right: 0;
      }

      .swiper-pagination {
        top: 307px;
        left: -5px;

        margin: 0 2px;
        margin-left: 0;
      }

      .swiper-pagination-bulelt {
        width: 5px;
        height: 5px;
      }
    } 
    .our-mission { 
      margin-top: -27px;
      .our-mission-img {
        display: none;
      }
  
      .row {
        display: flex;
        flex-wrap: wrap;
  
        margin-top: -85px;
        margin-left: 0 ;
        margin-right: 0;
      }
  
      .column:first-child {
        display: none;
      }
  
      .column:nth-child(2) {
        flex: 0 24%;

        width: 33%;

        margin-top: 54px;
        margin-bottom: 2%;
      }
  
      .column:nth-child(3) {
        flex: 0 80%;

        width: 200px;
        height: 2px;

        margin-top: 54px;
        margin-bottom: 2%;
      }

      .provide-solutions {
        display: flex;
      }
  
      .title {
        width: 200px;

        padding-bottom: 0;
        margin-top: -28px;

        margin-left: 0;

        font-size: 20px;
      }

      .mission-description {
        ::before {
          content: '';
          top: 13px;
          left: -46px;
        }
      }
      
      .description {
        width: 260px;
        padding-top: 17px;
        padding-left: 0;

        margin-right: -90px;

        font-size: 13px;
      }
  
      .mission-buttons {
        position: relative;
        top: -16px;
        left: -5px;

        width: 307px;

        margin-top: 0;
        margin-left: 0;
        .button:first-child {
          padding: 12px 24px;
          margin-left: 0;
          
          font-size: 10px;
        }
  
        .button:nth-child(2) {   
          padding: 14px 40px;

          margin-left: 3px;

          font-size: 12px;

          line-height: 7.5;
        }
      }
  
      .mission-provide-solutions {
        top: -63px;
        left: -9px;
  
        width: 320px;
        height: 456px;

        background-size: cover;
        .title-head {
          top: 34px;
          left: -27px;
          
          padding-left: 0;

          font-size: 20px;
          text-align: center;
        }
        
        .title-provide {
          top: -5px;
        }

        .icon {
          padding-left: 13px;
        }

        .icon img {
          width: 36px;
        }
  
        .title {
          width: 309px;

          padding-left: 75px;
          margin-top: 69px;

          font-size: 15px;
        }
  
        .subtitle {
          top: 21px;

          padding-left: 74px;
          margin-right: 9px;

          font-size: 15px;
        }
      }
    }
    .healthy-reading {
      .title {
        margin-top: 406px;
        margin-left: 0;
        margin-bottom: 2px;

        font-size: 20px;
      }
  
      .subtitle {
        width: 277px;
        margin-left: 0;

        font-size: 12px;
      }
  
      .FilterBy {
        display: none;
      }
  
      .swiper-container {
        top: -73px;
        left: -3px;

        height: 198px;

        margin-bottom: -34px;
      }
  
      .swiper-slide:first-child {
        width: 97%;

        background-image: url('../assets/images/health-first.5.fw.png');
  
        .description {
          margin-top: 108px;
          margin-left: 14px;
          margin-right: 21%;

          font-size: 19px;
        }

        .date {
          margin-top: 1px;
          margin-left: 18px;
          margin-bottom: 6px;

          font-size: 11px;
        }
  
        .category {
          width: 44px;
          height: 22px;
  
          margin-top: 0;
          margin-left: 15px;

          font-size: 11px;
        }
      }
  
      .swiper-slide:nth-child(2) {
        width: 50%;

        background-image: url('../assets/images/health-second.5.fw.png');
        background-size: cover;
  
        .description {
          margin-top: 61px;
          margin-left: 5px;
          margin-right: 0;

          font-size: 19px;
        }

        .date {
          margin-top: 4px;
          margin-left: 8px;
          margin-bottom: 2px;

          font-size: 11px;
        }
  
        .category {
          width: 77px;
          height: 26px;
  
          margin-top: 5px;
          margin-left: 4px;

          font-size: 12px;
        }
      }
  
      .swiper-slide:nth-child(3) {
        width: 50%;

        background-image: url('../assets/images/health-third.5.fw.png');
        background-size: cover;
  
        .description {
          margin-top: 73px;
          margin-left: 5px;
          margin-right: 28px;

          font-size: 19px;
        }

        .date {
          margin-top: 12px;
          margin-left: 7px;
          margin-bottom: 1px;

          font-size: 11px;
        }
  
        .category {
          width: 103px;
          height: 24px;

          margin-top: 7px;
          margin-left: 1px;

          font-size: 13px;
        }
      }
  
      .swiper-slide:nth-child(4) {
        width: 50%;

        background-image: url('../assets/images/health-fourth.fw.png');
        background-size: cover;
  
        .description {
          margin-top: 56px;
          margin-left: 5px;
          margin-right: 0;

          font-size: 19px;
        }
        
        .date {
          margin-top: 5px;
          margin-left: 5px;
          margin-bottom: 8px;

          font-size: 10px;
        }
  
        .category {
          width: 75px;
          height: 19px;
  
          margin-top: 0;
          margin-left: 6px;

          font-size: 12px;
        }
      }

      .journal-btn {
        position: relative;
        top: -11px;
        left: -24px;

        width: 100%;
        
        padding: 13px 40px;
        
        margin-left: 18px;

        font-size: 13px;
      }
    }
    .information-system {
      height: 796px;

      padding-bottom: 0;
      margin-top: -43px;

      background-position: -154px;
      .information-img {
        display: flex;
        align-items: center;
        justify-content: center;

        margin-top: 191px;
        margin-left: 0;
      }

      .information-img img {
        width: 292px;
      }
  
      .title {
        position: absolute;
        top: -341px;

        margin-top: 31px;
        margin-left: 0;

        font-size: 20px;
      }
  
      .subtitle {
        position: absolute;
        top: -287px;

        margin-top: 0;
        margin-left: 0;

        font-size: 22px;
      }
  
      .description {
        margin-top: 10px;
        margin-left: 0;
        margin-right: 42px;
  
        font-size: 12px;
        letter-spacing: .8px;

        line-height: 2;
      }
  
      .list-information {
        list-style-type: none;
        ::before {
          content: '';
          position: absolute;
          top: 0;
          left: -40px;
  
          width: 25px;
        }
      
      .information-text {
        top: 7px;

        padding-left: 4px;
        margin-bottom: 13px;
        margin-right: 12px;

        font-size: 14px;
      }
    }
  
      .solutions-btn {
        display: none;
      }
  
      .bottom-bg-image {
        display: none;
      }
    }
  }
}